#Regras de Monitoramento CPU

groups:
  - name: AlertaServidor
    rules: 
     - alert:  AutoCargaDeCPU
       expr: 100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[2m])) * 100) > 1
       for: 1m
       labels:
         severity: warning
       annotations:
         summary: "Uso alto de Cpu (inst칙ncia{{ $labels.instance }})"
         description: "游댠 O uso da CPU est치 em {{ $value | printf \"%.0f\" }}% h치 pelo menos 1 minuto."

      #Memoria RAM

     - alert:  ConsumoALtodeMemoria                                                                                                                                         
       expr: (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes) * 100 < 90
       for: 1m
       labels:
         severity: critical  
       annotations:
        summary: "Mem칩ria RAM baixa (inst칙ncia{{ $labels.instance }})"
        description: "O consumo de mem칩ria RAM atingiu {{ $value | printf \"%.0f\" }}%."

      #Disco
     - alert:  PoucoEspa칞oEmDisco
       expr: (node_filesystem_free_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"}) * 100 < 90
       for: 2m
       labels:
        severity: critical  
       annotations:
        summary: "Pouco espa칞o em disco (inst칙ncia{{ $labels.instance }})"
        description: "游 O disco raiz (/) est치 com {{ $value | printf \"%.0f\" }}% de uso."
